* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-1);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg);
}

:root {

    /* colors */

    --bg: #f1f1f1;

    --white: #ffffff;
    --black: #000000;

    --grey-1: #cdcdcd;
    --grey-1-tr: #cdcdcdaa;
    --grey-1-tr-2: #cdcdcd66;
    --grey-2: #333333;
    --grey-3: #8d9295;
    --grey-4: #a4a4a4;
    --grey-5: #444444;
    --grey-6: #555555;
    --grey-7: #e9e9e9;
    --grey-8: #656565;
    --grey-black-1: #121212;

    /* fonts */
    --font-1: Sans-serif, serif;

    --box-shadow-before-hover: 1px 1px 6px 2px #00000010;
    --box-shadow-after-hover: 1px 1px 6px 2px #00000020;

}